*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  #root, #__next {
    isolation: isolate;
  }

.container {
    height: 100vh;
}

* {
    font-family: "Roboto", ubuntu;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main";
}

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr;
    padding: 15px;
    padding-right: 45px;
    gap: 25px;
    grid-template-areas: 
        "search profile"
        "greeting buttons";
}

.header .profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .profile img {
    height: 2.5rem;
    border-radius: 30px;
}

.header svg {
    height: 1.25rem;
}

.search {
    grid-area: search;
    display: flex;
    align-items: center;
    gap: 15px;
}

input {
    border-radius: 18px;
    border: none;
    background-color: #e8e8ee;
    width: 90%;
    height: 24px;
}

.profile {
    font-size: 0.9rem;
    grid-area: profile;
    justify-self: end;
    gap: 15px;
}

.greeting {
    grid-area: greeting;
}

.buttons {
    display: flex;
    gap: 20px;
    grid-area: buttons;
    justify-self: end;
}

.buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    flex-basis: auto;
    width: 5rem;
    height: 30px;
    border: none;
    background-color: #60a5fa;
    color: #ffffff;
    font-weight: 500;
    font-size: 0.75rem;
}

.sidebar {
    grid-area: sidebar;
    background-color: #60a5fa;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    font-weight: 450;
    font-size: 0.9rem;
    padding: 20px;
}

.dashboard {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    font-size: 1.5rem;
}

.dashboard svg {
    fill: #ffffff;
    height: 2rem;
    margin: 5px;
}

.sidebar ul {
    list-style-type: none;
    margin-bottom: 30px;
    padding: 0 10px;
}

li svg {
    fill: #ffffff;
    height: 1.25rem;
}

.sidebar li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 25px 12px;
    background-color: #e8e8ee;
    box-shadow: inset 0 4px 10px #bcbcbe;
    padding-right: 20px;
    column-gap: 20px;
}

.projects {
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
}

.projects .content {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 10px;
    gap: 20px;
}

.projects .content .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 25px 15px;
    border-left: solid 6px #fcba03;
}

.projects .content .card .title {
    font-size: 0.9rem;
    font-weight: 450;
}

.projects .content .card .text {
    font-size: 0.75rem;
    color: #858585;
}

.projects .content .card .icons svg {
    height: 1.25rem;
    fill: #777777;
}

.projects .content .card .icons {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.announcements .content {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 12px 25px 5px 25px;
    margin-top: 10px;
}

.announcements .content .card {
    padding-top: 10px;
    padding-bottom: 10px;
}

.announcements .content .card .title {
    font-size: 0.75rem;
    font-weight: 450;
}

.announcements .content .card .text {
    font-size: 0.65rem;
    color: #858585;
}

.trending {
    align-self: flex-end;
}

.trending .content {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 12px 25px 5px 25px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.trending .content .card {
    font-size: 0.75rem;
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    align-items: center;
}

.trending .content .card .desc {
    color: #858585;
}

.trending .content .card img {
    height: 2.5rem;
    border-radius: 30px;
}

.trending .content .card .text {
    display: flex;
    flex-direction: column;
}

.projects .title {
    font-weight: 500;
}

.announcements .title {
    font-weight: 500;
}

.trending .title {
    font-weight: 500;
}